.v-icon {
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: inherit;
  font-size: inherit;
  vertical-align: -2px;
}

.v-icon>svg {
  height: 1em;
  width: 1em;
}